
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body h2 {
    margin-bottom: 15px;
}

#cards-wrapper {
    position: relative;
    width: 400px;
    height: 250px;
}

.card {
    position: absolute;
    height: 100%;
    width: 100%;
    perspective: 1000px;
    display: none;
    cursor: pointer;
}

.card-inner {
    position: relative;
    background-color: blue;
    height: 100%;
    width: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-front, .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card.flip .card-inner{
    transform: rotateY(180deg);
}

.card.active {
    display: block;
}

.btn-flip {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ddd;
    cursor: pointer;
}


/* ADD A NEW CARD */

#btn-add-card {
    cursor: pointer;
}

.add-card-modal {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}

#add-card-form {
    background-color: white;
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#add-card-form h3 {
    margin-bottom: 20px;
}

#add-card-form button {
    margin-top: 20px;
}

.form-group {
    margin: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
}

#btn-close-form {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #ddd;
    font-size: 3rem;
    cursor: pointer;
}

.hidden {
    display: none;
}


